@import "tailwindcss";

@theme {
  --color-background: #f3f4f6;
  --color-foreground: #111827;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111827;
    --color-foreground: #f9fafb;
  }
}

.dark {
  --color-background: #111827;
  --color-foreground: #f9fafb;
}
